.h1 {
  width: 50%;
  margin: auto;
  margin-top: 150px;
  font-family: cursive;
  text-align: center;
}

.h1 span {
  width: fit-content;
  font-style: italic;
  margin: auto;
  display: block;
  font-size: 50px;
  color: seagreen;
  margin-top: 20px;
  border: 2px solid azure;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px aquamarine;
}
